---
title: St. Christophers at the Winston -- Amsterdam
author: Robert Allen
date: 10-08-2022
heroImageUrl: https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3EtwjrEWgTgVw1e_Ao6uxNTmMEd-i4bVAfF7EiuteUY328iuEbPT23dNKMBFDoypv2v7U01ctFzhC9c-7JpRQ4nyc9J5M68lyUtgdHmciGIXlxGxM5UOPwT2GxPQyx3PbSPyyPQF53_umkCcK0BiZgS39qU_odupai7m8bRy7Aewc58HQSJ9Mto8t/w640-h480/IMG-20221004-WA0008.jpg
---

St. Christophers at the Winston was the name of the new hostel I stayed at after my stay in my private room. Immediately upon going to my room I learned about another interesting quirk about the Netherlands and that is their stairs. The stairs throughout the Netherlands are in general very steep. They can be quite narrow and hazardous and they seem like quite a hazard to bring luggage up. You'd think it would be impossible to move in and out of places but the dutch are smart. Most of the places in Amsterdam have a hook hanging over the street from the roof where a rope can be used as a pulley. Then using their large windows people can easily move furniture in and out and avoid the hazardous stairs.

<div class="side-by-side">
  <a href="https://live.staticflickr.com/5124/5225272023_a2e4aa5ed8_b.jpg">
    <img border="0" data-original-height="600" data-original-width="800" height="249" src="https://live.staticflickr.com/5124/5225272023_a2e4aa5ed8_b.jpg" width="332" />
  </a>
  <a href="https://stuffdutchpeoplelike.com/wp-content/uploads/2012/09/stairs.png">
    <img border="0" data-original-height="400" data-original-width="800" height="200" src="https://stuffdutchpeoplelike.com/wp-content/uploads/2012/09/stairs.png" width="400" />
  </a>
</div>
<span class="caption">Stairs and Hooks</span>

I stayed in a small room with six mixed-gender beds. Arriving on a Thursday I seemed to be the only person in the room at the time. I went that evening to the hostel bar and met this guy named Chadi. Chadi is a 42-year-old Lebanese man. He was well dressed and while his English wasn't perfect it was very good. We became fast friends by drinking throughout the night and decided to meet up the next day to tour the original Heineken factory located here in Amsterdam.

<div class="side-by-side">
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh5wL8pYKDt6GkgbyS6RsLmLsALhIQeUFdc7ixTlm09F3FpwHgAiVTjRePtz_eKuoxLihdlAGPbbKKFl4sutTSCnDKV8RtFSnZqgpjpioyyj-EQF1qlZnX_M7nI4cE3EWOyZZPdE-AwqlO0HO17wsM9gqfxbfhnpcakrtDvJS0NtOGAa0qnHmIIG4pK/s1600/IMG-20221004-WA0014.jpg">
    <img data-original-height="1600" data-original-width="1200" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh5wL8pYKDt6GkgbyS6RsLmLsALhIQeUFdc7ixTlm09F3FpwHgAiVTjRePtz_eKuoxLihdlAGPbbKKFl4sutTSCnDKV8RtFSnZqgpjpioyyj-EQF1qlZnX_M7nI4cE3EWOyZZPdE-AwqlO0HO17wsM9gqfxbfhnpcakrtDvJS0NtOGAa0qnHmIIG4pK/s320/IMG-20221004-WA0014.jpg" width="240" />
  </a>
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgpqm4DPqWlpS4pPbffRx1H52KNuKfUF0EXDQKDPbHt7lL_GxKnVJUm9_zLwtWorJcMCwQjFBe6D8djOFGdEikdWdjSP-b_QVQZ-ijDj2saz0P0S5swTHIKM7d_cX9nzJf51B_7BBtm70siJxGnxzRbxMF6M2BfgsGljp3aIKLZ8WeKMJenpxI9I6MN/s9248/20220930_110242.jpg">
    <img data-original-height="9248" data-original-width="6936" height="320" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgpqm4DPqWlpS4pPbffRx1H52KNuKfUF0EXDQKDPbHt7lL_GxKnVJUm9_zLwtWorJcMCwQjFBe6D8djOFGdEikdWdjSP-b_QVQZ-ijDj2saz0P0S5swTHIKM7d_cX9nzJf51B_7BBtm70siJxGnxzRbxMF6M2BfgsGljp3aIKLZ8WeKMJenpxI9I6MN/s320/20220930_110242.jpg" width="240" />
  </a>
</div>
<span class="caption">Chadi and the Heineken Tour</span>

The Heineken factory is a gorgeous place that serves a generous amount of beer. Other than the standard museum they also have the Heineken experience where they simulate what it's like to be a Heineken beer. There are a lot of flashing lights as they take you through the process of being brewed, bottled, and then served at a party. The tour guides are enthusiastic and make the experience. They are generous with the beer, offering a mini beer halfway and finishing off with two additional beers at the end.

On Friday, some new hostel mates arrived. Robin, and Leif. Robin and Leif were from Manchester and were very proud of that fact. They had heavy accents and a typical British drinking attitude. We decided to have a drink together at the hostel bar. One thing lead to another and that turned into the whole night. They invited some girls Katie and Lucy, also from Manchester. Robin and Leif had met them at the airport and bonded over flight problems. They joined us along with our other hostel mate Sanjay, an Indian guy who was reserved and didn't drink but was open enough to come out with us drunks and enjoy himself.

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3EtwjrEWgTgVw1e_Ao6uxNTmMEd-i4bVAfF7EiuteUY328iuEbPT23dNKMBFDoypv2v7U01ctFzhC9c-7JpRQ4nyc9J5M68lyUtgdHmciGIXlxGxM5UOPwT2GxPQyx3PbSPyyPQF53_umkCcK0BiZgS39qU_odupai7m8bRy7Aewc58HQSJ9Mto8t/w640-h480/IMG-20221004-WA0008.jpg alt="Me and the Manchester Crew" />
<span class="caption">Me and the Manchester Crew</span>

We had a wild night filled with booze. Naturally, us all being new to Amsterdam we went to the infamous red light district and paid for a two-euro peep show. It consisted of a gyrating naked woman on a rotating cushion lying on a mattress in the center of a circle. Around the periphery of that circle are a series of rooms that you enter on your own (or with your partner). You then feed coins to a machine that deactivates the privacy screen allowing you to view the show. Afterward, we went to a dance bar with music blasting in our ears and danced til late into the evening. Bars here don't close at the American normal 2 am leading us not to go back to our room until nearly 4.

We woke up late the next day. We vowed to hang out again that night and went our separate ways. I had booked a canal tour for 1 PM. The tour was lovely. I met a Canadian couple touring to visit their family ancestry (as well as just have fun). We spent a few hours on the water, with an open bar and many snacks. Our tour guide was an enthusiastic Dutchman going by the name of Captain Storm. He told us the history of Amsterdam and bought us bitterballen halfway through, a fried ball similar to a croquette. That tour has been a major highlight of the touristy things I've done in Amsterdam. I would recommend a similar tour to all who visit. At 2 hours long and around $50 USD it is well worth it. [Airbnb Experience Tour](https://www.airbnb.com/experiences/145329)

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhVspV33GiDO3rijZx3fTc9VNsgsuTPao7I_v9e1BX4RvT_3cu5hq8HtzK1OmNHmV3pnsYzbGB-Y9dnJnvOag7DlIzdgzO8-qPfhdOlXslSnuMlepEsnEFGGWSWFI0R_S9zQipEezvZkth-r-3rRvjYaKoTLqUB1qTY-PzIvNYUyheLeev_LFhsUg-j/w640-h480/20221002_134500.jpg alt="Bitterballen and snacks on the canal tour" />
<span class="caption">Bitterballen and snacks on the canal tour</span>

After saying goodbye to my new Manchester friends, I met a very cute girl staying in my room at the hostel named Kaelyn. She had an adorable Boston accent, an extremely positive attitude, and a boatload of charm. She has a degree in Psychology but has leveraged that degree and managed to get herself a job in Private Financing. She oversees her department and needs to hold people accountable to deadlines. She enjoys the money and flexibility that the position provides but the hours are long and the work is draining. She was in Amsterdam to take a break from and explore Europe.

I rehashed some of the highlights of earlier nights, such as the peep show at the red light district. They entered the peeping booth together while I waited outside. Poor Bree was quite shocked, "I didn't think it would be a live person! I thought it would just be a video" hahaha!

At one point our group found a Rubber Duck store! I have a personal fondness for Rubber ducks. Beyond their cuteness, there is also an urban legend of an amazing programmer who attributes their success to a rubber duck they keep on their desk. Whenever the programmer would encounter a problem they struggled to solve they would take the time to explain the problem to the rubber duck. Usually, halfway through the explanation, the solution would pop into the programmer's head. This practice is known in the programming community as "Rubber duck programming." I have been gifted many ducks from friends over the years and have similarly gifted them to coworkers.

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh8ljdWgyLh_t4ubMJG1srZh2i2tBdm5v3pQY9wUisbqJj71PLCr2SdTrcmgx4fb09cM9gfLiH-RSAcMvwWPjmi737A7n4-IMgBL3VeDiMnU_Bnyb405xuaxlft4XgPmS_32zsz1IiAFfhnW3splNHJ7q-grG36bnpywSbzwi1fS4nm4Ayhgc_bSC6N/w300-h400/IMG_6971_20221003_220900.jpg alt="Betsy and Axel" />

Me and Kaelyn each bought one and named them. I named her duck Betsy and she named my duck Axel. Cute.

We barhopped for a while. Eventually, Bree was kind enough to leave Kaelyn and me alone. We bounced around to a few more bars and ended up at one of Amsterdams' Coffee shops. Though called coffeeshops most don't even sell coffee. They sell weed, as well as snacks and munchy-type food to enjoy with it. Fun places, but remember to wear clothes you're okay with reeking of weed if you visit. We ended up calling the night there but made plans to hang out tomorrow.

The next day Kaelyn and I decided to go to the Rijksmuseum. The Rijksmuseum is a glamorous and gorgeous place. Immediately upon walking near the museum our ears were met by the sound of classical music from a street performer playing on his accordion. It helped set the mood for our visit. The museum itself was large but filled to the brim with elaborate exhibits to explore. Lots of gorgeous art and even for someone like me who is not usually into museums it was impressive.

Exploring the museum ended up taking up the majority of our day. It was technically a workday so I had some meetings from 6-8 that night I needed to get back to the hostel to take. We met up again afterward and just smoked and chatted on the balcony of our hostel room for a while. She was leaving the next day sadly to continue her travel to London. We chatted for a couple of days after the fact over text. Who knows maybe we'll get an opportunity to meet up again.

After Kaelyn left, it was time for me to leave this hostel as well. Overall my stay at The Winston was a very positive one and a pretty blessed first hostel experience.

After leaving The Wintson, I spent a couple of nights in a private room at an Airbnb just to digest the first week and take a break from the hectic and spontaneous nature of the hostels. Not too much happened except work, rest, and recovery on these days but it was much needed.
