---
title: Arriving In Amsterdam
author: Robert Allen
date: 09-26-2022
heroImageUrl: https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj5UkXSsuvCzPnUY5kqFPe5Oe2mvR3qK92Y1-Rt_z2K4HrNTBh7bGpV7I-hd2_0XkJqXpsd9HJg9YPcOfuiAEh503IMEU2cq1DlAvgMzvekx-GkKOb6dPBKHyjL66wROyptqNsAOhCEdX5TEeZBjWy0qrnwKmOLXIcIE0Bg-Xkp_5_YRouEY91ppnjO/w640-h480/20220930_120718.jpg
---

<div class="side-by-side">
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiAaE8cnMdGu6GKJEUPXw20ZGOusC_5TU7aSO_jUjyS7Vbx1zK-ASSm5lW7gGOS-hSSgsT4u4kik44qt5pfdk5-1RZ3gpv9vEH5UvUW3mT03vuWggrXmVo006Yn9kG5XtoOHRdtdy-IoooqQRMJVfK8Xxh3smWYSujKdY1ykADAxzHxvG4LBacxcHDs/s1200/IMG_5894_20220924_200644.jpg">
    <img alt="Group in Dark Horse" data-original-height="900" data-original-width="1200" height="300" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiAaE8cnMdGu6GKJEUPXw20ZGOusC_5TU7aSO_jUjyS7Vbx1zK-ASSm5lW7gGOS-hSSgsT4u4kik44qt5pfdk5-1RZ3gpv9vEH5UvUW3mT03vuWggrXmVo006Yn9kG5XtoOHRdtdy-IoooqQRMJVfK8Xxh3smWYSujKdY1ykADAxzHxvG4LBacxcHDs/w400-h300/IMG_5894_20220924_200644.jpg" title="Goodbye Party with Friends in Boulder's famous Dark Horse" width="400" />
  </a>
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhd18A_7IAzdbjWXM85v-C362IQyJuPVJHu4w_sXRvYZmEGTBLDKSuHnS4WyQGnQU8TUfbbBCJuZxCKeiLSGl7V-PX_2UWdKHgiGDaAlOvtqS9yzQVBglfXzvJgsN1Wg6z0hA3opSLIzeCWsW8VPBVpcA5nDGCdx2rQsDzjZ7rBKlZ58kmbYpUXoICc/s1600/IMG_5904_20220925_014711.jpg">
    <img alt="Saying Goodbye In Boulder" data-original-height="1600" data-original-width="1200" height="400" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhd18A_7IAzdbjWXM85v-C362IQyJuPVJHu4w_sXRvYZmEGTBLDKSuHnS4WyQGnQU8TUfbbBCJuZxCKeiLSGl7V-PX_2UWdKHgiGDaAlOvtqS9yzQVBglfXzvJgsN1Wg6z0hA3opSLIzeCWsW8VPBVpcA5nDGCdx2rQsDzjZ7rBKlZ58kmbYpUXoICc/w300-h400/IMG_5904_20220925_014711.jpg" width="300" />
  </a>
</div>
<span class="caption">Goodbye Party in Boulder's Famous Darkhorse</span>

The first day of my travels. Bags have been packed, cats are with a friend, said my goodbyes -- I'm all set. A 7-hour redeye flight to Iceland followed by a 3-hour flight to Amsterdam. An easy pass through customs and I've officially arrived. Amsterdam. The first stop on what is supposed to be a year-long journey around the world. It's a bustling city renowned for its beautiful canals and lively atmosphere. It's a cultural hub where 90+% of the residents there speak English and you can go just about anywhere in the city using public transit or by bike. In other words, it's the perfect first stop for an inexperienced traveler like myself. My name's Rob. I am a 27-year-old American and I'm planning on traveling the world for a year.

Having never left the country before, I'm relying on the advice of friends and strangers on the internet to guide me. What's been made clear is that staying in hostels is the number one way to travel. Cost wise it's much more advantageous. One night in the private room of an Airbnb can cost as much as a week's stay in a hostel. Of course, you can find cheaper accommodations should you choose to stay in one place for an extended period but when traveling that's pretty much the opposite of your goals. You want to keep moving and have as many experiences as possible.

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiIjD4GYJREZU4IjDT-08EMQLz7SgrnIlahQfA1LtuveDoEaUYPTHBh4j5Xt1h4p412qw6hCTzpXUVMo3I9RjB0uvOxYhHv8iN5hz7yv9VddrBMAxGn2gofBcZAO3XCiyvzWw0gr5EuqR-vdhGKEE9jmUDliHXee-6lruBQz2ZFvD8fBpfLXnq9GfVs/s320/20220926_130453.jpg alt="All of my belongings for the forseeable future" />
<span class="caption">All of my belongings for the foreseeable future</span>

The hostels also have another advantage unique to my situation. I am traveling alone and am not intending on making this a year-long exercise in isolation. The hostels force you whether you like it or not to meet your fellow travelers. While it's possible to still ignore everyone and keep to yourself you would need to work to do so. Most likely you'll be sharing a room with at least 5 other people, oftentimes many more. The only private space you have in that room is your bed and depending on the hostel the "private" part is debatable given how easy it is for everyone in the room to see what you're doing. Other than your bed most hostels will have some kind of common area for people to mingle and socialize. If you're in your hostel and you're not sleeping, shitting, or showering then this is where you'll be

Before that though. I spent a few nights in a private room. Just to give me some peace and time to adjust to the new environment. I also started working through the 8 hours of jet lag I had accumulated. On my first day in Amsterdam, it made it clear that I was missing a few things. Primarily an umbrella. It rained my entire first day in Amsterdam and I was unfortunate enough to have to be out in it for 30+ minutes to walk to my room with my (non-waterproof) luggage.

<div class="side-by-side">
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiy-QTZudt2VPlWs9q2K8cXiDVb0WMPh6L9pqvsb_F1R8rjIMFuXxbCDttI-mPaKMlEUdQ5di8MjOqeYCDtfFtoygd4NyMZI9D3zdCo78cCUu_3nOBSF_5eDy1SNlA-RIKP5FWYF_6sbzqEGaJCKHtZj9GyKpfL4Yg_vLfQDbLcmB4CBexc9qQ9TXjC/s9248/20220928_091403.jpg">
    <img alt="Dutch Pancake" border="0" data-original-height="6936" data-original-width="9248" height="300" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiy-QTZudt2VPlWs9q2K8cXiDVb0WMPh6L9pqvsb_F1R8rjIMFuXxbCDttI-mPaKMlEUdQ5di8MjOqeYCDtfFtoygd4NyMZI9D3zdCo78cCUu_3nOBSF_5eDy1SNlA-RIKP5FWYF_6sbzqEGaJCKHtZj9GyKpfL4Yg_vLfQDbLcmB4CBexc9qQ9TXjC/w400-h300/20220928_091403.jpg" width="400" />
  </a>
  <a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggpfweMHlwGVc_mDbJtrBHLRtzU9oLnPRU5fb-YqC_TQxeBkCuNixMxqWMZFmD_8DcGKt7F68Ok4AFbd2ITZkCl7bydhWYgVTD-KBcJt3oLG5_SZWlftsEQAx03pu_SjGHBA81WYcq44jAS5ZN_G592_lS_gidrmSPWQGPcsv6RCNWBZ3qc4yafIhb/s9248/20220928_090247.jpg">
    <img alt="Cup of Coffee" border="0" data-original-height="9248" data-original-width="6936" height="464" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggpfweMHlwGVc_mDbJtrBHLRtzU9oLnPRU5fb-YqC_TQxeBkCuNixMxqWMZFmD_8DcGKt7F68Ok4AFbd2ITZkCl7bydhWYgVTD-KBcJt3oLG5_SZWlftsEQAx03pu_SjGHBA81WYcq44jAS5ZN_G592_lS_gidrmSPWQGPcsv6RCNWBZ3qc4yafIhb/w348-h464/20220928_090247.jpg" width="348" />
  </a>
</div>
<span class="caption">Pancakes Amsterdam - First Meal</span>

Those first few days in the private room were relatively uneventful. I spent some time exploring the city. Enjoyed some pancakes at a place called Pancakes Amsterdam near Central station. Bought a gym membership for the month I'm here from a very gorgeous girl named Katya. I also picked up a GVB card from Central station. This was a card that could be loaded up with money and canned for all the trams, trains, and other forms of public transit around the Netherlands. Very handy and much better than buying tickets individually each time.

Culturally I noticed a few differences between Amsterdam and the US. The very first is the lack of free drinking water in many places. Water is not served automatically like it is in the US. If you ask for water you need to be specific and ask for tap water or else they will assume you mean bottled water. Even then many places will refuse to serve tap water. I've only seen a single water fountain since my arrival here as well. Even then that one made quite a big deal about the "free" water they were providing. This was starting to stir up the red-blooded American within me and our superior hydration. However, this was quickly tempered when I got my first bill. I paid with my card and then... nothing. No tipping, the transaction was over. Quite a surprise from the normal 20% seen in America. I suppose I could live with the lack of water if it meant I could spend what would normally be my tip on a drink.

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj5UkXSsuvCzPnUY5kqFPe5Oe2mvR3qK92Y1-Rt_z2K4HrNTBh7bGpV7I-hd2_0XkJqXpsd9HJg9YPcOfuiAEh503IMEU2cq1DlAvgMzvekx-GkKOb6dPBKHyjL66wROyptqNsAOhCEdX5TEeZBjWy0qrnwKmOLXIcIE0Bg-Xkp_5_YRouEY91ppnjO/w640-h480/20220930_120718.jpg alt="The First of Many Canals" />
<span class="caption">The First of Many Canals</span>
