@import './reset.scss';
@import './vars.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: $text;
  background-color: $background;
}

p, h1, h2, h3, h4, h5, h6, a, span {
  font-family: 'Roboto', sans-serif;
  color: #111;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
