@import './reset.scss';
@import './vars.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: $text;
  background-color: $background;
  font-family: 'Merriweather', serif;
}

p, li, blockquote {
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
}

p, a, span {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
}

a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
